.card {
    
    width: 20rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.MuiTableCell-root {
    font-family: 'Lexend', sans-serif;
}

.Home_update_time__fVYnn {
    font-weight: 400;
}

.red{
    background-color: red;
    
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}