@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif; 
   
}
body {
    background-color: black;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
    
    
}


.title {
    display: block;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Lexend', sans-serif;
}

.time {
    font-size: 100;
    font-weight: 100;
}
.card-body {
    margin: 0 auto;
    margin-left: 200px;

}

.search {
    margin-bottom: 200px;
}

.table_component {
    margin: 0 auto;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table_component input {
    margin-bottom: 20px;
    width: 320px;
    height: 45px;
    border: none;
    border-radius: 2px;
    border-color: #7B8CDE;
    text-align: center;
    outline: none;
    font-size: .9rem;
    font-family: 'Lexend', sans-serif;;
    

}

.logo {
    height: auto;
    width: 220px;
    margin: 8px;
    
}

.update_time {
    font-weight: 400;
}

.data_about {
    font-weight: 400;
    margin-top: -8px;
}

.text_disclaimer {
    font-weight: 400;
    margin-top: -10px;
    text-align: center;
    font-size: 12px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.text_title {
    font-weight: 400;
    font-size: 1.2rem;
}

.title_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #7B8CDE;
    width: 350px;
    height: 170px;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 12px;
    color: white;
    margin: 0 auto;
    margin-top: -60px;
}

.btn {
    height: 40px;
    width: 120px;
    background-color: teal;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}


.districts {
    margin: 0 auto;
    margin-top: 20px;
}

.dist_button {
    height: 140px;
    width: 150px;
    margin: 15px;
    font-size: 1.3rem;
    background-color: #7B8CDE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Appbar {
    align-items: center;
    
}

.sub_title_card {
    background-color: #7B8CDE;
    height: 30px;
    width: 330px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    
}


.red{
    background-color: red;
    
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}


.card_container {
    height: 130px;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
    border-radius: 11px;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
    border-radius: 8px;
    margin-bottom: 1em;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    
}

.card_details {
    display: flex;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.card_btn {
    display: flex;
    background-color: #7B8CDE;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 0px 7px 7px 0px;
    height: 130px;
}

.center_details span {
    font-size: 0.875rem;
    font-weight: 600;
    display: block;
    padding: 1rem;

}

.center_details {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.slot {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    align-items: center;
}

.slot p {
    margin-top: 15px;
    margin-bottom: -4px;
    text-align: start;
}

.book_btn {
    margin-top: 28px;
}

.book_btn a {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 7px;
}


.center_details span {
    text-align: start;
    margin: -12px;
    margin-left: 4px;
}

.center_details p {
    margin-bottom: -5px;
}


@media (min-width: 1682px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

