@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    /* background-color: black; */
    
}
.title {
    display: block;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.time {
    font-size: 100;
    font-weight: 100;
}
.card-body {
    margin: 0 auto;
    margin-left: 200px;

}

.search {
    margin-bottom: 200px;
}